# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Portfolios
portfolios/

# General
.DS_Store
.AppleDouble
.LSOverride
